In [48]:
import pandas as pd

In [49]:
data = pd.read_csv('confirmed_by_date.csv')

In [50]:
data

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,Region_ID,ID_REGISTRO,RESULTADO
0,2020-01-06,2020-01-06,9999-99-99,18,09f6d9,6
1,2020-01-08,2020-01-08,9999-99-99,30,1c29f8,5
2,2020-01-27,2020-01-27,9999-99-99,15,1879e0,1
3,2020-02-07,2020-02-07,9999-99-99,11,03e780,3
4,2020-02-12,2020-02-07,9999-99-99,2,07b5c5,6
...,...,...,...,...,...,...
14745,2020-04-24,2020-04-23,9999-99-99,5,140deb,1
14746,2020-04-24,2020-04-23,9999-99-99,19,0e0ca6,1
14747,2020-04-24,2020-04-23,9999-99-99,27,08a84b,1
14748,2020-04-24,2020-04-23,9999-99-99,29,1a0b7e,1
14749,2020-04-24,2020-04-24,9999-99-99,14,0aa7be,1

In [51]:
geo = pd.read_csv('../../data/dge/meta_data/entidades.csv')

In [52]:
geo.keys()

Index(['CLAVE_ENTIDAD', 'ENTIDAD_FEDERATIVA', 'ABREVIATURA'], dtype='object')

In [53]:
geo = geo.rename(columns={'CLAVE_ENTIDAD':'Region_ID', 'ENTIDAD_FEDERATIVA':'Region', 'ABREVIATURA':'Region_Key'})

In [54]:
result = pd.merge(data, geo, on='Region_ID')

In [55]:
result.to_csv('../../latest.csv', index=False)

In [56]:
result

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,Region_ID,ID_REGISTRO,RESULTADO,Region,Region_Key
0,2020-01-06,2020-01-06,9999-99-99,18,09f6d9,6,NAYARIT,NT
1,2020-03-18,2020-03-17,9999-99-99,18,06ae89,14,NAYARIT,NT
2,2020-03-19,2020-03-10,9999-99-99,18,0dceb6,14,NAYARIT,NT
3,2020-03-23,2020-03-19,9999-99-99,18,0a967f,14,NAYARIT,NT
4,2020-03-24,2020-03-21,9999-99-99,18,1b3f82,14,NAYARIT,NT
...,...,...,...,...,...,...,...,...
14745,2020-04-23,2020-04-21,9999-99-99,29,075e89,1,TLAXCALA,TL
14746,2020-04-24,2020-04-15,9999-99-99,29,06a593,1,TLAXCALA,TL
14747,2020-04-24,2020-04-20,9999-99-99,29,09d6b7,1,TLAXCALA,TL
14748,2020-04-24,2020-04-22,9999-99-99,29,06b382,1,TLAXCALA,TL
14749,2020-04-24,2020-04-23,9999-99-99,29,1a0b7e,1,TLAXCALA,TL