In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('confirmed_by_date.csv')

In [6]:
data

      Date_Confirmed FECHA_SINTOMAS   FECHA_DEF  Region_ID Case_ID  Status
0         2020-01-06     2020-01-06  9999-99-99         18  09f6d9       1
1         2020-01-08     2020-01-08  9999-99-99         30  1c29f8       1
2         2020-01-27     2020-01-27  9999-99-99         15  1879e0       1
3         2020-02-07     2020-02-07  9999-99-99         11  03e780       1
4         2020-02-12     2020-02-07  9999-99-99          2  07b5c5       1
...              ...            ...         ...        ...     ...     ...
16081     2020-04-26     2020-04-26  9999-99-99         28  1b5221       1
16082     2020-04-26     2020-04-26  9999-99-99         28  1c6f5f       1
16083     2020-04-26     2020-04-26  9999-99-99         28  1d28f9       1
16084     2020-04-27     2020-04-20  9999-99-99          9  06ed10       1
16085     2020-04-27     2020-04-21  9999-99-99          9  0778e5       1

[16086 rows x 6 columns]

In [7]:
geo = pd.read_csv('../../data/dge/meta_data/entidades.csv')

In [8]:
geo.keys()

Index(['CLAVE_ENTIDAD', 'ENTIDAD_FEDERATIVA', 'ABREVIATURA'], dtype='object')

In [9]:
geo = geo.rename(columns={'CLAVE_ENTIDAD':'Region_ID', 'ENTIDAD_FEDERATIVA':'Region', 'ABREVIATURA':'Region_Key'})

In [10]:
result = pd.merge(data, geo, on='Region_ID')

In [11]:
result

,Date_Confirmed,FECHA_SINTOMAS,FECHA_DEF,Region_ID,Case_ID,Status,Region,Region_Key
0,2020-01-06,2020-01-06,9999-99-99,18,09f6d9,1,NAYARIT,NT
1,2020-03-18,2020-03-17,9999-99-99,18,06ae89,1,NAYARIT,NT
2,2020-03-19,2020-03-10,9999-99-99,18,0dceb6,1,NAYARIT,NT
3,2020-03-23,2020-03-19,9999-99-99,18,0a967f,1,NAYARIT,NT
4,2020-03-24,2020-03-21,9999-99-99,18,1b3f82,1,NAYARIT,NT
...,...,...,...,...,...,...,...,...
16081,2020-04-24,2020-04-23,9999-99-99,29,1a0b7e,1,TLAXCALA,TL
16082,2020-04-25,2020-04-20,9999-99-99,29,0da4d3,1,TLAXCALA,TL
16083,2020-04-25,2020-04-21,9999-99-99,29,05cd45,1,TLAXCALA,TL
16084,2020-04-25,2020-04-21,9999-99-99,29,0d8ad3,1,TLAXCALA,TL
16085,2020-04-25,2020-04-24,9999-99-99,29,17dc73,1,TLAXCALA,TL

In [55]:
result.to_csv('../../latest.csv', index=False)

In [56]:
result

,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,Region_ID,ID_REGISTRO,RESULTADO,Region,Region_Key
0,2020-01-06,2020-01-06,9999-99-99,18,09f6d9,6,NAYARIT,NT
1,2020-03-18,2020-03-17,9999-99-99,18,06ae89,14,NAYARIT,NT
2,2020-03-19,2020-03-10,9999-99-99,18,0dceb6,14,NAYARIT,NT
3,2020-03-23,2020-03-19,9999-99-99,18,0a967f,14,NAYARIT,NT
4,2020-03-24,2020-03-21,9999-99-99,18,1b3f82,14,NAYARIT,NT
...,...,...,...,...,...,...,...,...
14745,2020-04-23,2020-04-21,9999-99-99,29,075e89,1,TLAXCALA,TL
14746,2020-04-24,2020-04-15,9999-99-99,29,06a593,1,TLAXCALA,TL
14747,2020-04-24,2020-04-20,9999-99-99,29,09d6b7,1,TLAXCALA,TL
14748,2020-04-24,2020-04-22,9999-99-99,29,06b382,1,TLAXCALA,TL
14749,2020-04-24,2020-04-23,9999-99-99,29,1a0b7e,1,TLAXCALA,TL